<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&amp;display=swap" rel="stylesheet">
    <title>StudentsTracker</title>
  </head>
  <body>
    <img class="img center" src="{{ url_for('static', filename='images/favicon.png' ) }}">
    <div>
      <a href="/Import_CSV" class="button">Importer un fichier CSV</a>
    </div>
  </body>
</html>