<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&amp;display=swap" rel="stylesheet">
    <title>Students tracker</title>
  </head>
  <body class="csv-center">
    <form method="POST" action="Selection">
      <h1>Importer un CSV a partir d'un lien :</h1>
      <div>
        <input type="url" name="link" class="input" value="https://www.data.gouv.fr/fr/datasets/r/7a2ad28a-0e2a-4c69-84f0-c703448b60f9">
      </div>
      <div>
        <table>
            <th>
                <td>
                    <a href="/" class="button">Retour</a>
                </td>
                <td>
                    <input id="Show-Graph" class="hide-input" type="submit">
                    <label for="Show-Graph" class="button">Selection</label>
                </td>
            </th>
        </table>
      </div>
    </form>
    <script src="/static/script.js"></script>
  </body>
</html>
