<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 class="neon">Import CSV as file :</h1>
    <input type="file" id="select-file" class="neon-input-file">
    <label for="select-file" class="neon-input-file-show">Select a file</label>
    <h1 class="neon">Import CSV as link :</h1>
    <input class="neon-input">
    <table>
        <th>
            <td>
                <a href="/templates/Data_Analyser.html" class="neon-button">Return</a>
            </td>
            <td>
                <a href="/templates/Import_CSV.html" class="neon-button">Show Graph</a>
            </td>
        </th>
    </table>

  </body>
</html>