<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 class="neon">Filters</h1>
      <form method="POST" action="Show_Graph">
        {% for i in range (0,filtersLen) %}
        <div id="{{Filters[i]}}">
          <label for="{{Filters[i]}}">{{Filters[i]}}: </label>
          <select name="Select_{{Filters[i]}}" id="{{Filters[i]}}">
            <option value="">--</option>
            {% for x in FiltersValues[i] %}
            <option>{{x}}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
      <div class="chartSelection">
      <h1 class="neon" >Columns</h1>
        {% for x in Columns %}
        <div>
          <input class="neon-button" name="Column_{{x}}" id="Column_{{x}}" type="checkbox" value="{{x}}">
          <label for="Column_{{x}}">{{x}}</label>
        </div>
        {% endfor %}
        <input class="neon-button" type="submit" value="select">
      </form>
    </div>
  </body>
</html>